{% extends "base.html" %}
{% load humanize %}

{% block title %} Players {% endblock %}

{% block content %}
    <h1> Players </h1>

    {% for player in players %}
        <h2>{{ player.user.username|capfirst }}</h2>
        
        <div class="player_stats">
            <ul>
                <li> <b> Appearances: </b> {{ player.appearances }} </li>
                <li> <b> Best Overall Finish: </b> {{ player.best_overall_finish|ordinal }} </li>
                <li> <b> Best League Finish: </b> {{ player.best_league_finish|ordinal }} </li>
                <li> 
                    <b> Favourite: </b>
                    {% if player.favourite %}
                        {{ player.favourite.user.username }}
                    {% else %}
                        Undecided
                    {% endif %}
                </li>
            </ul>
        </div>

        <div class="player_description">
            <p> {{ player.description }} </p>
        </div>
    {% endfor %}
{% endblock %}
