[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
pytz = "==2019.1"
sqlparse = "==0.3.0"
django = ">=3"

[requires]
python_version = "3.8"
