[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "==2019.1"
sqlparse = "==0.3.0"
django-webpack-loader = "==0.6.0"
Django = "==2.2.2"

[requires]
python_version = "3.8"
