{% extends "base.html" %}

{% block title %} Select Team {% endblock %}

{% block content %}
    <h1>Select Team</h1>

    {% if selected %}
        <p> Team selected successfully </p>
        <meta http-equiv="refresh" content="1;url=/"> 
    {% else %}
        <p>Please select team using the form below:</p>

        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Submit choice"></p>
        </form>
    {% endif %}
{% endblock %}
